<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Client</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
        <h3>Update client info for: {{ client.getName }}</h3>
        <form action="/client/{{ client.getId }}" method="post">
          <input type="hidden" name="_method" value="patch">
          <label for="name">Rename your client:</label>
          <input id="name" type="text" name="name">
          <button type="submit">Update</button>
        </form>
        <form action="/client/{{ client.getId }}" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete this client</button>
        </form>
        <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
