<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
      <form action="/addstylist" method="post">
        <label for="stylistname">Enter a New Stylist</label>
        <input type="text" name="stylistname" required>
        <button type="submit" name="button">Enter</button>
      </form>
      {% if stylists is not empty %}
        {% for stylist in stylists %}
          <li><a href="/stylists/{{ stylist.id }}">{{ stylist.name }}</a></li>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
