<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <div id="jumbo" class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
      <h2>Welcome!</h2>
      <form action="/addstylist" method="post">
        <label for="stylistname">Enter a New Stylist</label>
        <input type="text" name="stylistname" required>
        <button type="submit" name="button">Enter</button>
      </form>
      {% if stylists is not empty %}
        {% for stylist in stylists %}
          <li><a href="/stylists/{{ stylist.id }}">{{ stylist.name }}</a></li>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
