<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stylist</title>
  </head>
  <body>
    <h3>Update stylist info for: {{ stylist.getName }}</h3>
    <form action="/stylist/{{ stylist.getId }}" method="post">
      <input type="hidden" name="_method" value="patch">

      <label for="name">Rename your stylist:</label>
      <input id="name" type="text" name="name">

      <button type="submit">Update</button>
    </form>

    <form action="/stylist/{{ stylist.getId }}" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete this stylist</button>
    </form>
    <p><a href='/'>Home</a></p>
  </body>
</html>
