<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Stylist</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hair Salon</h1>
      </div>
      <h3>Update stylist info for: {{ stylist.getName }}</h3>
      <form action="/stylist/{{ stylist.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
        <label for="name">Rename your stylist:</label>
        <input id="name" type="text" name="name">
        <button type="submit">Update</button>
      </form>
      <form action="/stylist/{{ stylist.getId }}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete this stylist</button>
      </form>
      <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
